
@{
    ViewBag.Title = "Echo_Traning";
    Layout = "~/Views/Shared/_SiteIndexLayout.cshtml";
}
@section Metas{
    <meta name="keywords" content="Interaction of Ultrasound Waves with Tissue,TEE Standard Views and Nomenclature,Right Ventricular Failure,Right Atrial Embryology
          ,2D Views of the Mitral Valve,2D Evaluation of the Aortic 
          Valve Apparatus,Aortic Stenosis,Echo Atlas Top Videos,Anatomy of the Tricuspid Valve,Example CME Exams,Sample SAE Exam" />
    <meta name="description" content="@Resources.LabelResources.Echo_Traning @Resources.LabelResources.Of @Resources.LabelResources.Iranian_socity_of_cardiac_ansthesiology" />
    }
@section Header{

<header>
}
   
</header>

<h1 class="text-center col-12 text-black-50">@Resources.LabelResources.EductionCourse @Resources.LabelResources.Of @Resources.LabelResources.Iranian_socity_of_cardiac_ansthesiology</h1>
<hr class="text-center col-6" />
<section class="col-12 text-center">
    <ul class="container col-12">
        <li class="col-12 text-center text-info mt-3 border-bottom none-lst-style txt-dcr mb-2 pb-3"><strong><a href="https://e-echocardiography.com/page/page.php?UID=1427121051" >Interaction of Ultrasound Waves with Tissue</a> </strong></li>
        <li class="col-12 text-center text-info mt-3 border-bottom none-lst-style txt-dcr mb-2 pb-3"><strong><a href="https://e-echocardiography.com/page/page.php?UID=1427151471" >TEE Standard Views and Nomenclature</a> </strong></li>
        <li class="col-12 text-center text-info mt-3 border-bottom none-lst-style txt-dcr mb-2 pb-3"><strong><a href="https://e-echocardiography.com/error/restricted_access.php" >Access Restricted</a> </strong></li>
        <li class="col-12 text-center text-info mt-3 border-bottom none-lst-style txt-dcr mb-2 pb-3"><strong><a href="https://e-echocardiography.com/page/page.php?UID=1427181971" >Right Ventricular Failure</a> </strong></li>
        <li class="col-12 text-center text-info mt-3 border-bottom none-lst-style txt-dcr mb-2 pb-3"><strong><a href="https://e-echocardiography.com/page/page.php?UID=1427212461" >Right Atrial Embryology</a> </strong></li>
        <li class="col-12 text-center text-info mt-3 border-bottom none-lst-style txt-dcr mb-2 pb-3"><strong><a href="https://e-echocardiography.com/page/page.php?UID=1427232771" >2D Evaluation of the Aortic Valve Apparatus</a> </strong></li>
        <li class="col-12 text-center text-info mt-3 border-bottom none-lst-style txt-dcr mb-2 pb-3"><strong><a href="https://e-echocardiography.com/error/restricted_access.php" >2D Views of the Mitral Valve</a> </strong></li>
        <li class="col-12 text-center text-info mt-3 border-bottom none-lst-style txt-dcr mb-2 pb-3"><strong><a href="https://e-echocardiography.com/page/page.php?UID=1427243001" >Anatomy of the Tricuspid Valve</a> </strong></li>
        <li class="col-12 text-center text-info mt-3 border-bottom none-lst-style txt-dcr mb-2 pb-3"><strong><a href="https://e-echocardiography.com/page/page.php?UID=13127000" >Example CME Exams</a> </strong></li>
        <li class="col-12 text-center text-info mt-3 border-bottom none-lst-style txt-dcr mb-2 pb-3"><strong><a href="https://e-echocardiography.com/sae/sae_exam_splash.php?SAEExamID=1" >Sample SAE Exam</a> </strong></li>
        <li class="col-12 text-center text-info mt-3 border-bottom none-lst-style txt-dcr mb-2 pb-3"><strong><a href="https://e-echocardiography.com/atlas/topvideos.php?UID=16128000" >Echo Atlas Top Videos</a> </strong></li>
        <li class="col-12 text-center text-info mt-3 border-bottom none-lst-style txt-dcr mb-2 pb-3"><strong><a href="https://e-echocardiography.com/page/page.php?UID=17488901" >Aortic Stenosis</a> </strong></li>
        <li class="col-12 text-center text-info mt-3 border-bottom none-lst-style txt-dcr mb-2 pb-3"><strong><a href="https://e-echocardiography.com/page/page.php?UID=1977001" >Sample Report</a> </strong></li>
        <li class="col-12 text-center text-info mt-3 border-bottom none-lst-style txt-dcr mb-2 pb-3"><strong><a href="https://e-echocardiography.com/forums/topics.php?ForumCategoryID=1&&ForumID=1">General Forum Descussion</a> </strong></li>
        <li class="col-12 text-center text-info mt-3 border-bottom none-lst-style txt-dcr mb-2 pb-3"><strong><a href="https://e-echocardiography.com/eotd/eotd.php?EOTDID=1">Echo Of the Day (Archived Example)</a> </strong></li>
        <li class="col-12 text-center text-info mt-3 border-bottom none-lst-style txt-dcr mb-2 pb-3"><strong><a href="https://e-echocardiography.com/cases/cotw.php?COTWID=1">Case Of Month (Archived Example)</a> </strong></li>



    </ul>
</section>