@model Models.Book

@{
    Layout = "~/Views/Shared/_SiteUserLayout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.ButtonResources.Delete</title>
</head>
<body>
    <header class="container col-12">
        <div class="col-12 text-justify w-100"><h1 class="text-muted">@Html.DisplayFor(model => model.Book_Writer)</h1> </div>
    </header>


    @*@Html.DisplayNameFor(model => model.Eevent_Title)*@
    <article>
        <h2>@Html.DisplayNameFor(model => model.Book_Title)</h2>

        <p class="text-dark">
            @Html.DisplayFor(model => model.Book_Des)


        </p>
        <i class="text-black-50">

            @Html.DisplayFor(model => model.Book_Date)
            @Html.DisplayNameFor(model => model.Book_Date)
        </i>
        <em class="text-muted">@Html.DisplayNameFor(model => model.Book_Writer)</em>
    </article>








    @*<dt>
            @Html.DisplayNameFor(model => model.PostId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Related_Tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Related_Tags)
        </dd>*@

 

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-success" /> |
            @Html.ActionLink(Resources.ButtonResources.Back, "Index")
        </div>
    }
    </div>
    @section Footer{
        <footer>
    }
</footer>
</body>
</html>
