@model Models.Congress

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SiteIndexLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Congress</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CongressTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CongressTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Congress_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Congress_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CongressId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
