@model IEnumerable<Models.Congress>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteIndexLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CongressTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Congress_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CongressTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Congress_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CongressId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CongressId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CongressId })
        </td>
    </tr>
    @Html.LabelFor(modelitem => item.CongressId)

}

</table>
