@model Models.LastNews

@{
    Layout = "~/Views/Shared/_SiteUserLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
     
            <h4>LastNews</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.LastNewsId)
    
            <div class="form-group">
                @Html.LabelFor(model => model.News_Writer, htmlAttributes: new { @class = "col col-control-label text-center" })
                <div class="col-12">
                    @Html.EditorFor(model => model.News_Writer, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.News_Writer, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.LastNews_Title, htmlAttributes: new { @class = "col col-control-label text-center" })
                <div class="col-12">
                    @Html.EditorFor(model => model.LastNews_Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastNews_Title, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.LastNews_Des, htmlAttributes: new { @class = "col col-control-label text-center" })
                <div class="col-12">
                    @Html.TextAreaFor(model => model.LastNews_Des, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastNews_Des, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastNews_Des, htmlAttributes: new { @class = "col col-control-label text-center" })
                <div class="col-12">
                    @Html.TextAreaFor(model => model.Abstract_Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastNews_Des, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastNews_Date, htmlAttributes: new { @class = "col col-control-label text-center" })
                <div class="col-12">
                    @Html.EditorFor(model => model.LastNews_Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastNews_Date, "", new { @class = "text-danger" })
                </div>
            </div>
    
            @*<div class="form-group">
                @Html.LabelFor(model => model.PostId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PostId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PostId, "", new { @class = "text-danger" })
                </div>
            </div>*@
    
            @*<div class="form-group">
                @Html.LabelFor(model => model.Related_Tags, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-12">
                    @Html.EditorFor(model => model.Related_Tags, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Related_Tags, "", new { @class = "text-danger" })
                </div>
            </div>*@
    
            <div class="form-group">
                <div class="col-12">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>
     
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    @section Footer{
        <footer>
    }
</footer>
</body>
</html>
